<mtapp:setting
    id="consumer_key"
    label="<__trans phrase="LinkedIn Application Key">"
    hint="<__trans phrase="The key for the LinkedIn application associated with your blog.">"
    show_hint="1">
    <input type="text" name="consumer_key" id="consumer_key" value="<mt:var name="consumer_key" escape="html">" size="40" />
    <a href="https://www.linkedin.com/secure/developer" target="__blank"><__trans phrase="Create / Edit your LinkedIn App"></a>
</mtapp:setting>
<mtapp:setting
    id="consumer_secret"
    label="<__trans phrase="LinkedIn Application Secret">"
    hint="<__trans phrase="The secret for the LinkedIn application associated with your blog.">"
    show_hint="1">
    <input type="text" name="consumer_secret" id="consumer_secret" value="<mt:var name="consumer_secret" escape="html">" size="40" />
</mtapp:setting>
